@use "../abstracts/variables" as vars;

@media (max-width: 768px) {
  .navigation-section {
    flex-direction: row;
    width: 100%;
    min-height: auto;

    align-items: center;
    justify-content: space-between;
  }

  .nav-links {
    display: none;
  }

  #app {
    flex-direction: column;
  }
}
