# ===============================
# Build / Compiled output
# ===============================
/dist
/build
/node_modules

# ===============================
# Logs
# ===============================
logs
*.log
npm-debug.log*
pnpm-debug.log*
yarn-debug.log*
yarn-error.log*
lerna-debug.log*

# ===============================
# OS files
# ===============================
.DS_Store
Thumbs.db

# ===============================
# Tests / Coverage
# ===============================
/coverage
/.nyc_output

# ===============================
# IDEs and Editors
# ===============================
/.idea
.project
.classpath
.c9/
*.launch
.settings/
*.sublime-workspace

# VSCode
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json

# ===============================
# Environment files
# ===============================
.env
.env.development.local
.env.test.local
.env.production.local
.env.local

# ===============================
# Temp / Cache
# ===============================
.temp
.tmp
.cache
*.swp
*.swo

# ===============================
# Runtime data
# ===============================
pids
*.pid
*.seed
*.pid.lock

# ===============================
# Diagnostic reports
# ===============================
report.[0-9]*.[0-9]*.[0-9]*.[0-9]*.json

# ===============================
# TypeScript / NestJS specific
# ===============================
*.tsbuildinfo
.nest
