@use "../abstracts/variables" as vars;

#app {
  display: flex;
  max-width: 1280px;
  margin: 0 auto;
}

main {
  flex: 1;
  min-width: 0;
  border-left: 1px solid #222;
  border-right: 1px solid #222;
}

/* ---------------- MOBILE ---------------- */
@media (max-width: 480px) {
  #app {
    flex-direction: column;
  }

  .navigation-section {
    display: none;
  }

  main {
    border-left: none;
     padding-bottom: 72px;
    border-right: none;
  }
}

